.git
.gitignore
.dockerignore
Dockerfile
docker-compose*.yml
.env
.env.*
!.env.docker
*.md
.DS_Store
node_modules
*.log
application/logs
application/cache
uploads
frequent_changing
vendor
deploy.sh
**/.git
**/node_modules
**/*.log
**/.DS_Store
